# 复制此文件为 .env 后修改实际值
# .env 已被 .gitignore 忽略，不会提交到仓库

# MySQL
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATABASE=allto

# Redis
REDIS_PASSWORD=123456

# RabbitMQ

# JWT 
JWT_SECRET=my-secret-key

# SMTP
SMTP_HOST=2463301806.qq.com
SMTP_PORT=587
SMTP_USERNAME=yikiyomi
SMTP_PASSWORD=wzroyvoqpyxddjae
SMTP_FROM=2463301806@qq.com